*{
    margin: 0;
}
body{
    background-color: rgb(159, 223, 159);
}
header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(236, 132, 57); */
    background-image: url(fundo.jpg);
    background-size: 100%;
    font-size: 12px; /* Aletrado de 25 para a Resp.*/
    padding: 10px;
    margin-bottom: 20px;
}
.lista{
    list-style: none;
    display: flex;
    margin-left: auto;
    padding-left: 0px;
    padding: 20px;
}
.lista a{
    text-decoration: none;
    padding-left: 9px; /* Alterado de 50 para a Resp.*/
    color: rgb(63, 31, 8);
}
.lista a:hover{
    color: rgb(29, 100, 35);
}
header img{
    width: 100px; /* Alterado de 500 para a Resp.*/
    border-radius: 10px;
}
nav{
    display: flex;
}
main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px; /*Alterado de 60 para a Resp.*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px; /*Alterado de 50 para a Resp.*/
    background-color: rgb(130, 185, 79);
    padding: 5px;
}
main p{
    font-size: 14px; /*Alterado de 25 para a Resp.*/
    text-align: center;
    padding: 10px;
    margin-bottom: 20px; /*Alterado de 50 para a Resp.*/
}
main h2{
    font-size: 20px; /*Alterado de 40 para a Resp.*/
    text-align: center;
    margin-bottom: 20px; /*Alterado de 50 para a Resp.*/
    background-color: rgb(236, 132, 57);
    padding: 8px;
}
main h3{
    font-size: 15px; /*Alterado de 30 para a Resp.*/
    margin-bottom: 15px;
}
article{
    background-color: rgb(130, 185, 79);
    padding: 12px; /*Alterado de 20 para a Resp.*/
    text-align: center;
    max-width: 200px; /*Alterado de 500 para a Resp.*/
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
article img{
    max-width: 100%;
    height: 200px; /*Alterado de 450px para a Resp.*/
    border-radius: 10px;
}
article p{
    margin-bottom: 0px;
    height: 100px; /*Alterado de 160px para a Resp.*/
}
.valor{
    margin-bottom: 15px; /*Alterado de 40px para a Resp.*/
    height: 0px;
}
button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px; /*Alterado de 25 para a Resp.*/
    border-radius: 20px;
    background-color: rgb(236, 132, 57);
    color: rgb(63, 31, 8);
    padding: 8px;
}
button:hover{
    background-color: rgb(247, 175, 124);
}
div{
    display: grid;
    /*Alterado de grid-template-columns: repeat(auto-fill, minmax(600px, 10fr)); para Resp. */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px; /*Alterado de 50 para a Resp.*/
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(236, 132, 57);
    font-size: 11px; /*Alterado de 18 para a Resp.*/
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}
.autor{
    margin-right: auto;
}
@media (min-width: 768px) {
    header {
        font-size: 20px;
    }
    header img {
        width: 250px;
    }
    .lista a {
        padding-left: 50px;
    }
    main h1 {
        font-size: 60px;
        margin-bottom: 30px;
    }
    main p{
        font-size: 25px;
        margin-bottom: 30px;
    }
    main h2{
        font-size: 40px;
        margin-bottom: 50px;
    }
    main h3{
        font-size: 30px;
    }
    article{
        padding: 20px;
        max-width: 500px;
    }
    article p{
        margin-bottom: 0px;
        height: 160px;
    }
    article img{
        height: 450px;
        margin-bottom: 15px;
    }
    .valor{
        margin-bottom: 40px;
    }
    button {
        font-size: 25px;
        margin-top: 10px;
    }
    div{
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 50px;
    }
    footer{
        font-size: 18px;
    }
}